# **Getting Started**

Create a copy of the worksheet by going in the top left and selecting File -> Save a copy in Drive

In [ ]:
# Import the NumPy and Pandas packages

# **NumPy Arrays**

Arrays have the same underlying structure as lists! We can construct them using np.array() and index them the exact same way

Arrays have the same underlying structure as lists! Let us construct them by using np.array()

In [ ]:
# Create two NumPy arrays; one from 1-5, and another from 5-10

In [ ]:
# Retrieve the first element from your arrays

In [ ]:
# Retrieve the first 3 elements from your arrays

We can do mathematical operations between arrays such as addition and subtraction!

In [ ]:
# Add, subtract and multiply your arrays

In [ ]:
# Find the sum of all elements in your arrays

In [ ]:
# Use np.linspace() to create an array of values of 0-20, in intervals of 5

In [ ]:
# Create a 3x3 array of values from 1-9

In [ ]:
# Confirm that your array has dimensions of 3x3

In [ ]:
# Recreate the same array but with a float data type instead of integer

In [ ]:
# Confirm that your array have a float data type

# **Pandas Data Frames**

Pandas Data Frames have the same underlying structure as Python dictionaries. We can create them by using pd.DataFrame() and index them the exact same way

In [ ]:
# Create a data frame with two columns; one with your three favorite foods and
# another the values 1-3

Important Functions:

Examining your data:
- .head(): shows first 5 observations of data

- .info(): shows number of rows, columns, blank ("null") values, and the data types of each variable

- .dtype: shows the underlying data type (integers, floats, etc.)

Analyzing your data:
 - .min(): Minimum value of a column
 - .max(): Maximum value of a column
 - .mean(): Average value of a column
 - .median(): Median value of a column
 - .sum(): Sum of all values in a column
 - .corr(): Shows correlation between values (NOTE: negative correlation does not mean less correlation, refer to workshop slides!)
 - .value_counts(): Shows number of observations per value in a column
 - .nunique(): Shows the amount of unique observations in a column

In [ ]:
# Import the bestsellers dataset and view the head

In [ ]:
# Use .info() to see more details about our dataset

In [ ]:
# Let's check the type of our dataset!

In [ ]:
# Retrieve the "User Rating" column from our dataset

In [ ]:
# Find the *data type* of the "User Rating" column

In [ ]:
# Find the average amount of reviews in this dataset

In [ ]:
# Find the cheapest and most expensive book prices in our dataset

In [ ]:
# Find the names of the cheapest and most expensive books

In [ ]:
# Which authors have produced the most bestselling books

In [ ]:
# Find the books that have a user rating less than 4

In [ ]:
# How many of those books have less than 10,000 reviews?

In [ ]:
# Find the correlation between User Rating and Reviews